fastapi
uvicorn
sqlalchemy
dlt[duckdb]
aiomysql
aiosqlite
pydantic[email]
email-validator
python-dotenv
passlib[bcrypt]
python-multipart
python-jose[cryptography]
pandas>=2.2.0
numpy
openpyxl
openai
matplotlib
matplotlib-inline
requests
jinja2
PyYAML
duckdb
sqlglot
astor
faker
pydantic-settings
pymysql
apscheduler
cryptography
pymssql
motor
polars
httpx
boto3
snowflake-connector-python
snowflake-sqlalchemy
psycopg2-binary
asyncpg
playwright
reportlab
asyncpg
connectorx
pyarrow
alembic