fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
motor
python-multipart
sqlparse
pyspark
matplotlib
pandas
plotly
asyncpg
greenlet
duckdb
seaborn
pyarrow
python-jose[cryptography]
passlib[bcrypt]
bcrypt
pydantic[email]